In [1]:
import pandas as pd
import random
import time

In [2]:
df = pd.DataFrame(columns=['serial_no','timestamp', 'x', 'y', 'z'])

In [3]:
df

Empty DataFrame
Columns: [serial_no, timestamp, x, y, z]
Index: []

In [4]:

for i in range(0, 3):
        x = random.randint(0, 358)
        y = random.randint(0, 358)
        z = random.randint(0, 358)
        serial_no = "46406064"
        timestamp = time.time
df = df.append({'serial_no': 250,'timestamp':timestamp, 'x': x, 'y':y, 'z':z}, ignore_index=True)

In [5]:
df

  serial_no                 timestamp    x   y    z
0       250  <built-in function time>  269  46  114

In [6]:
df.loc[df.shape[0]] = {'serial-no': serial_no,'timestamp':timestamp, 'x': x, 'y':y, 'z':123}

In [7]:
df

  serial_no                 timestamp    x   y    z
0       250  <built-in function time>  269  46  114
1       NaN  <built-in function time>  269  46  123

In [8]:
df.index.max()

1

In [9]:
df.shape

(2, 5)

In [10]:
xxx=df.shape[0]
print(xxx)
df.loc[xxx] = {'serial-no': serial_no,'timestamp':timestamp, 'x': x, 'y':y, 'z':123}
df

2

  serial_no                 timestamp    x   y    z
0       250  <built-in function time>  269  46  114
1       NaN  <built-in function time>  269  46  123
2       NaN  <built-in function time>  269  46  123

In [11]:

df.query('x==55')

Empty DataFrame
Columns: [serial_no, timestamp, x, y, z]
Index: []

In [12]:
serial='MEGAN000000'
print('serial_no == {}'.format(serial))

serial_no == MEGAN000000

In [13]:
serial='250'
df.query('serial_no == {}'.format(serial))

  serial_no                 timestamp    x   y    z
0       250  <built-in function time>  269  46  114

In [14]:
df.query('index == 0')

  serial_no                 timestamp    x   y    z
0       250  <built-in function time>  269  46  114

In [15]:
#returns html forms
df.query('index == 0').to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>serial_no</th>\n      <th>timestamp</th>\n      <th>x</th>\n      <th>y</th>\n      <th>z</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>250</td>\n      <td>&lt;built-in function time&gt;</td>\n      <td>269</td>\n      <td>46</td>\n      <td>114</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
#returns a dictionary of dictionaries
d= df.query('index == 0').to_dict()
d

{'serial_no': {0: 250},
 'timestamp': {0: <function time.time>},
 'x': {0: 269},
 'y': {0: 46},
 'z': {0: 114}}

In [17]:
t= d['serial_no']

In [18]:
type(t)

dict

In [19]:
d=df.query('index == 2')

In [20]:
t=d['serial_no']
type(t)

pandas.core.series.Series

In [21]:
t.values[0]

nan

In [22]:
#this is how to get the serial number out of the dataframe using a query
d1=df.query('index == 0')['serial_no'].values[0]
d1

250

In [23]:
#this is another way to get a row by index
d2=df.iloc[0]
d2

serial_no                         250
timestamp    <built-in function time>
x                                 269
y                                  46
z                                 114
Name: 0, dtype: object

In [24]:
#this is how to extract the first element of the serial number
df.serial_no[0]

250

In [25]:
i = 2
d = {'serial_no': df.serial_no[i], 'timestamp': df.timestamp[i], 'x': df.x[i], 'y': df.y[i], 'z': df.z[i]}
print(d)
type(d)

{'serial_no': nan, 'timestamp': <built-in function time>, 'x': 269, 'y': 46, 'z': 123}

dict

In [26]:
d['serial_no']

nan

In [27]:
len(d)

5

In [28]:
print((len(d) == 5 and type(d) == dict))

True

In [29]:
import datetime
td = datetime.datetime.now()
print(td)
type(td)

2018-09-16 10:47:30.660141

datetime.datetime

In [30]:
repr(td)

'datetime.datetime(2018, 9, 16, 10, 47, 30, 660141)'

In [31]:
str(td)

'2018-09-16 10:47:30.660141'

In [32]:
td.strftime("%H:%M:%S")

'10:47:30'

In [33]:
from datetime import datetime
datetime.now()

datetime.datetime(2018, 9, 16, 10, 47, 32, 207263)

# Experiments with exception handling

In [3]:
#exception handling
l = ['a', 'b']

In [35]:
l[3]

IndexError: list index out of range

In [5]:
c=True
i=0
while True:
    try:
        print(l[i])
        i=i+1
    except IndexError:
        print("we got an index error")
        break
print("done")

a
b
we got an index error
done

In [8]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [9]:
raise IndexError

IndexError:

In [ ]:
if(True):
    raise IndexError